*{
    font-family: sans-serif;
}

body{
    width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows:20% 60% 15%;
}
header{
    grid-row: 1/2;
    grid-column: 1/3;
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1{
    height: 100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: orange;
    padding-left: 1%;
}

header >nav{
    width: 60%;
    height: 100%;
    background-color: orange;
}
header > nav > ul{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}
header > nav > ul >li{
    background-color: darkcyan;
    border: 1px solid  black;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}

header > nav > ul > li > a{
    text-decoration: none;
}
header > a{
    height: 100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    text-decoration: none;
}

/*Main content */
main{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: wheat;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 25% 60%;
    padding: 5vw 5vw;
    padding-left: 3vw;
    gap:2vw;
}
main > h1{
    grid-column: 1/3;
    width: 30%;
    height: 70%;
    border:2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

main > p{
    background-color: skyblue;
    padding: 0;
    margin: 0;
    grid-column: 1/3;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
main > article{
    background-color: skyblue;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
}

main > article > h1,p {
    font-size: 0.9rem;
    margin: 0.4rem 0;
    padding: 0;
}

/*aside */
aside{
    border: 1px solid black;
    background-color: palegreen;
    padding: 0 1.5vw ;
}
aside > ul {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    font-size:0.7rem !important;
}
aside > ul > li> ol{
    padding: 0 1vw;
}
aside > ul > li> ol > li{
    padding:0;
    margin: 0;
}
aside > ul > li > ol > li > p {
    font-size:0.7rem !important;
}


/*Footer*/
footer{
    border: 1px solid black;
    background-color: blueviolet;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 2%;
}
